<table *ngIf="searchInputExists || addButtonExists()" style="width: 100%; max-height: 100px;">
  <tr>
    <td *ngIf="searchInputExists else emptyTd" class="third-block" id="search-controls">
      <span class="ui-float-label search-input">
        <input id="search-input" [(ngModel)]="searchParams.searchQuery" (keyup.enter)="fetchData()" type="text" pInputText>
        <label for="float-input">Search</label>
      </span>
    </td>
    <td class="third-block">
    </td>
    <td *ngIf="addButtonExists() else emptyTd"ngclass="third-block">
      <p-button routerLink={{addRoute}} label={{addLabel}} class="add-button"></p-button>
    </td>
  </tr>
</table>

<ng-template #emptyTd>
  <td class="third-block"></td>
</ng-template>

<!-- In order to render CSV properly, make sure that the data being passed to the table
is already rednered, and doesn't rely on cellRenderer attribute in the column definition. 
The CSV data won't render properly if the tables rely on async cellrenderers. -->
<div *ngIf="csvExportEnabled && !staticTable" style="float: right;">
  <i 
    *ngIf="!csvDownloadReady && !isFetchingCSVDownload" 
    (click)="fetchCSVData()" 
    style="font-size: 3em;color:steelblue; padding: 2px 2px 2px 5px;cursor: pointer;" 
    class="fa fa-download"
    >
  </i>
  <i 
    *ngIf="isFetchingCSVDownload" 
    style="font-size: 3em;color:steelblue; padding: 2px 2px 2px 5px;cursor: wait;"
    class="fa fa-hourglass-half"
  >
  </i>
  <i 
    *ngIf="csvDownloadReady" 
    (click)="onCSVExport()" 
    style="font-size: 3em;color:seagreen; padding: 2px 2px 2px 5px;cursor: pointer;" 
    class="fa fa-file-csv"
    >
  </i>
</div>
<div *ngIf="csvExportEnabled && staticTable" style="float: right;">
    <i 
    (click)="onCSVExport()" 
    style="font-size: 3em;color:seagreen; padding: 2px 2px 2px 5px;cursor: pointer;" 
    class="fa fa-file-csv"
    >
  </i>
</div>
<ag-grid-angular 
  class="ag-theme-fresh" 
  id="ag-grid-style" 
  [ngStyle]="{'height': calculateTableHeight()}"  
  [rowData]="rows" 
  [columnDefs]="columns"
  (firstDataRendered)="onFirstDataRendered($event)"
  (rowDataChanged)="onRowDataChanged($event)"
  (sortChanged)="onSortChanged($event)"
  (columnResized)="onColumnResize($event)" 
  (dragStopped)="onColumnReorder($event)" 
  [rowHeight]="rowHeight" 
  [getRowHeight]="getRowHeight"
  (gridReady)="onGridReady($event)"
  [overlayLoadingTemplate]="overlayLoadingTemplate" 
  [overlayNoRowsTemplate]="overlayNoRowsTemplate" 
  [frameworkComponents]="frameworkComponents"
  [isFullWidthCell]="isFullWidthCell" 
  [fullWidthCellRenderer]="fullWidthCellRenderer" 
  [fullWidthCellRendererParams]="fullWidthCellRendererParams"
  >
</ag-grid-angular>

<app-paginator
  [staticTable]="staticTable"
  [totalRecords]="totalRecords" 
  [pageSize]="searchParams.pageSize" 
  [currentPage]="searchParams.pageNumber" 
  [searchQuery]="currentSearchQuery" 
  (onPageChange)="returnNewPageNumber($event[0])" 
  (onPageSizeChange)="onPageSizeChange($event[0])"
>
</app-paginator>
