<mat-toolbar id="topnav">
  <img
    id="logo"
    class="topnav-item"
    src="assets/logo/logo.png"
    routerLink="/"
    height="45px"
    alt="HYS Logo"
  />
  <img
    id="logo-min"
    class="topnav-item"
    src="assets/logo/logoMin.png"
    routerLink="/"
    height="45px"
    alt="HYS Logo"
  />
  <app-breadcrumb
    [currentPath]="currentPath"
    id="topnav-breadcrumb"
    class="topnav-item"
  ></app-breadcrumb>
  <span id="logout-button" class="topnav-item">
      <i class="material-icons logout" (click)="logout()">logout</i>
  </span>
</mat-toolbar>
