#topnav {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0px 0px 0px 2px;
  height: var(--topnav-height);
  z-index: 1;
  position: fixed;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  // overflow: visible;
}
#logo {
  left: 0;
  margin: 0;
  visibility: visible;
  cursor: pointer;
  height: calc(var(--topnav-height) - var(--generic-padding));
  padding: 2px;
}
#logo-min {
  left: 0;
  margin: 0;
  height: var(--topnav-height);
  width: auto;
  padding: 2px;
  visibility: hidden;
  width: 0;
  cursor: pointer;
}
#topnav-breadcrumb {
  font-size: 0.7em;
  vertical-align: bottom;
  height: var(--breadcrumb-height);
  margin-top: calc(var(--topnav-height)-var(--breadcrumb-height));
}
@media screen and (max-width: 480px) {
  #logo {
    visibility: hidden;
    width: 0;
  }
  #logo-min {
    visibility: visible;
    width: initial;
  }
}
#logout-button {
  position: fixed;
  right: 10px;
  .logout {
    color: red;
    &:hover {
      cursor: pointer;
    }
  }
}