#topnav {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    // padding: 0px 0px 0px 2px;
    height: var(--topnav-height);
    z-index: 1000;
    position: fixed;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    background: white;
}
#logo {
    // margin: 0 0 0 1;
    visibility: visible;
    cursor: pointer;
    height: var(--topnav-height);
    margin-right: 5px;
    // height: calc(var(--topnav-height) - var(--generic-padding));
    // padding: 1px;
}
#logo-min {
    left: 0;
    margin: 0;
    height: var(--topnav-height);
    width: auto;
    // padding: 2px;
    visibility: hidden;
    width: 0;
    cursor: pointer;
}
#topnav-breadcrumb {
    font-size: 0.7em;
    vertical-align: bottom;
    height: var(--breadcrumb-height);
    margin-top: calc(var(--topnav-height)-var(--breadcrumb-height));
}
#session {
    display: flex;
    flex-direction: row;
    height: var(--topnav-height);
    position: fixed;
    right: 0px;
}
#user-info {
    visibility: visible;
    text-align: left;
    padding: 0px 10px 0px 0px;
}
// #user-icon {
//     visibility: visible;
//     padding: 11px 5px;
//     color: var(--isha-orange);
//     font-size: 25px;
// }
#name {
    font-size: 20px;
    margin: 0;
    padding: 27px 0px 10px 0px;
    line-height: 0px;
    font-weight: bold;
}
#email {
    color: var(--isha-orange);
    font-size: 12px;
    font-style: italic;
    padding: 5px 0px 0px 0px;
    line-height: 0px;
}
@media screen and (max-width: 780px) {
    #user-icon {
        width: 0;
        visibility: hidden;
    }
    #user-info {
        width: 0;
        visibility: hidden;
    }
}
@media screen and (max-width: 480px) {
    #logo {
        visibility: hidden;
        width: 0;
    }
    #logo-min {
        visibility: visible;
        width: initial;
    }
}
#logout-button {
    margin: 0;
    padding: 13px 10px 12px 0px;
    text-align: center;
    color: rgba(239, 83, 80, 0.5);
    &:hover {
        color: #ef5350;
        cursor: pointer;
    }
    #logout-icon {
        font-size: 25px;
    }
    #logout-text {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }
}
