.form-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.form-element {
  padding: 10px;
  text-align: left;
  margin-left: 30px;
}
.form-tag{
	max-width: 800px;
	margin: 0px auto;
}