<app-master-form
  [formId]="formId"
  [recordId]="recordId"
  [Form]="ProgramForm"
  [formTitle]="formTitle"
  [formSubmitted]="formSubmitted"
  [submittingForm]="submittingForm"
  [showNotification]="showNotification"
  [notificationMessage]="notificationMessage"
  [formCloseNavigationRoute]="formCloseNavigationRoute">
  <ng-template #formRef>
    <form [formGroup]="ProgramForm" (ngSubmit)="submitForm()" ngxsForm="Programs.programForm" >
      <mat-card-content>
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true" disabled>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="false">
              <mat-label>Program Name</mat-label>
              <input matInput required placeholder="Program Name" formControlName="programName">
              <mat-error>Invalid Program Name</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="true">
              <mat-label>Start Date</mat-label>
              <input matInput readonly [matDatepicker]="startDatePicker" placeholder="Choose a date"
                     (focus)="startDatePicker.open()" formControlName="startDate" [max]="curDate" [min]="minDOB">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              <mat-error>Invalid StartDate</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="true">
              <mat-label>End Date</mat-label>
              <input matInput readonly [matDatepicker]="endDatePicker" placeholder="Choose a date"
                     (focus)="endDatePicker.open()" formControlName="endDate" [max]="curDate" [min]="minDOB">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <mat-error>Invalid End Date</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="false">
              <mat-label>Venue</mat-label>
              <input matInput required placeholder="Venue" formControlName="venue">
              <mat-error>Invalid Venue</mat-error>
            </mat-form-field>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="false">
              <mat-label>City</mat-label>
              <input matInput required placeholder="City" formControlName="city">
              <mat-error>Invalid City</mat-error>
            </mat-form-field>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline" [hideRequiredMarker]="false">
              <mat-label>State</mat-label>
              <input matInput required placeholder="State" formControlName="state">
              <mat-error>Invalid State</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="minimum-side-padding one-third-block" appearance="outline">
              <mat-select placeholder="Country" formControlName="country" required>
                <ng-container *ngFor="let country of countryOptions">
                  <mat-option [value]="country.value">{{country.label}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Please select a country</mat-error>
            </mat-form-field>
            <br>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <button mat-raised-button style="margin: 10px; float: right;" type="button" color="primary" class="submit-btn" (click)="submitForm()">
        {{submittingForm ? 'Saving...' : 'Save'}}</button>
      <button mat-raised-button style="margin:10px; float: left;" (click)="cancelForm()" color="accent" class="submit-btn">Cancel</button>
    </form>
  </ng-template>
</app-master-form>


