#sidebar {
  padding-top: 10px;
  top: var(--topnav-height);
  position: fixed;
  background: var(--sidenav-black);
  height: 100vh;
  overflow: hidden;
  width: var(--mini-sidenav-width);
}
@media screen and (max-width: 480px) {
  :root {
    --mini-sidenav-width: 0px;
  }
  #sidebar {
    visibility: hidden;
  }
}

.nav-links-container {
  overflow-y: scroll;
  height: 100vh;
  .nav-link {
    i {
      font-size: var(--sidenav-icon-size);
    }
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
    text-align: left;
    padding: 2px;
    margin: 0px 0px 5px 0px;
    &:hover {
      background-color: var(--isha-orange-transparent);
    }
  }
}

.label-container {
  display: table;
  margin: 0px 0px 5px 0px;
  i {
    display: table-cell;
    vertical-align: middle;
    font-size: var(--sidenav-icon-size);
  }
  .nav-label {
    left: 30px;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
  }
}
.mini-nav-links {
  .mini-nav-link {
    i {
      color: white;
      font-size: var(--sidenav-icon-size);
    }
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    padding: 2px;
    margin: 0px 0px 5px 0px;
  }
}
.activated {
  background-color: var(--isha-orange);
}

#mobile-sidenav-puller {
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 99999;
  width: 25px;
  bottom: 20px;
  left: 0px;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  #mobile-sidenav-puller {
    visibility: visible;
  }
}
