<div id="table-footer-wrapper">
  <div id="records-info">
    <span *ngIf="currentlyShowing !== 0">
      {{searchInfoText}}
    </span>
  </div>
  <div id="pagination-controls">
    <ng-template *ngIf="showPaginationControls()" [ngTemplateOutlet]="paginationControls"></ng-template>
  </div>
  <div id="last-block">
    <table *ngIf="showPaginationControls()">
      <tbody>
        <tr>
          <td style="width: 20%;" class="page-size-helper-text">Showing </td>
          <td style="width: 20%;">
                <mat-select placeholder="{{pageSize}}" (selectionChange)="runOnPageSizeChange($event)">
                  <ng-container *ngFor="let pageSize of pageSizeOptions">
                    <mat-option [value]="pageSize.value">{{pageSize.label}}</mat-option>
                  </ng-container>
                </mat-select>
          </td>
          <td style="width: 40%;" class="page-size-helper-text"> records per page</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #paginationControls>
    <button class="terminal-buttons" *ngIf="!firstPageDisabled" mat-mini-fab (click)="GoToFirst()">
      1
    </button>
    <button [disabled]="previousPageDisabled" mat-icon-button (click)="GoToPrevious()">
      <i class="fa fa-caret-left">
      </i>
    </button>
    <button *ngIf="previewPages.length >=1" [style.font-weight]="previewPageStyles[0]['font-weight']" [style.background-color]="previewPageStyles[0]['background-color']" [style.color]="previewPageStyles[0]['color']"
      mat-icon-button (click)="GoToPage(previewPages[0])">{{previewPages[0]}}</button>
    <button *ngIf="previewPages.length >=2" [style.font-weight]="previewPageStyles[1]['font-weight']" [style.background-color]="previewPageStyles[1]['background-color']" [style.color]="previewPageStyles[1]['color']"
      (click)="GoToPage(previewPages[1])" mat-icon-button>{{previewPages[1]}}</button>
    <button *ngIf="previewPages.length >=3" [style.font-weight]="previewPageStyles[2]['font-weight']" [style.background-color]="previewPageStyles[2]['background-color']" [style.color]="previewPageStyles[2]['color']"
      (click)="GoToPage(previewPages[2])" mat-icon-button>{{previewPages[2]}}</button>
    <button *ngIf="previewPages.length >=4" [style.font-weight]="previewPageStyles[3]['font-weight']" [style.background-color]="previewPageStyles[3]['background-color']" [style.color]="previewPageStyles[3]['color']"
      (click)="GoToPage(previewPages[3])" mat-icon-button>{{previewPages[3]}}</button>
    <button *ngIf="previewPages.length >=5" [style.font-weight]="previewPageStyles[4]['font-weight']" [style.background-color]="previewPageStyles[4]['background-color']" [style.color]="previewPageStyles[4]['color']"
      (click)="GoToPage(previewPages[4])" mat-icon-button>{{previewPages[4]}}</button>
    <button [disabled]="nextPageDisabled" mat-icon-button (click)="GoToNext()">
      <i class="fa fa-caret-right">
      </i>
    </button>
    <button class="terminal-buttons" *ngIf="!lastPageDisabled" mat-mini-fab (click)="GoToLast()">
      {{lastPage}}
    </button>
</ng-template>