<!-- Sidebar with hierarchical list of all routes -->
<p-sidebar [(visible)]="showSidebar" [style]="{background: 'var(--sidenav-black)', border: 'solid var(--sidenav-black) 1px', color: 'white', width:'27em', top: 'var(--topnav-height)', padding: '10px', margin: '0px'}"
  [showCloseIcon]="false" [modal]="false" styleClass="ui-sidebar-md" (mouseleave)="showSidebar=false" [style.overflow-y]="scroll">
  <div class="nav-links-container nav-links">
    <div [routerLink]="homeLink.path" [class.activated]="sidebarActiveLink(homeLink)" (click)="onSidenavLinkClick(homeLink)"
      class="nav-link">
      <span class="label-container ">
        <i class="material-icons">
          {{homeLink.icon}}
        </i>&nbsp;
        <span class="nav-label">{{homeLink.label}}</span>
      </span>
    </div>
    <div *ngFor="let link of navLinks">
      <div [routerLink]="link.path" [class.activated]="sidebarActiveLink(link)" (click)="onSidenavLinkClick(link)" class="nav-link">
        <span class="label-container ">
          <i class="material-icons ">
            {{link.icon}}
          </i>
          &nbsp;
          <span class="nav-label ">{{link.label}}</span>
        </span>
      </div>
      <div *ngIf="link.label === clickedLink.label && link.children.length">
        <div *ngFor="let link of childLinks">
          <div [routerLink]="link.path" [class.activated]="sidebarActiveLink(link)" (click)="onSidenavLinkClick(link)" class="nav-link">
            <span class="label-container ">
              &nbsp;&nbsp;&nbsp;
              <i class="material-icons ">keyboard_arrow_right</i>
              <i class="material-icons ">
                {{link.icon}}
              </i>&nbsp;
              <span class="nav-label ">{{link.label}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>

<!-- Mini sidebar that is unexpanded -->
<nav id="sidebar" class="mini-nav-links">
  <div [pTooltip]="homeLink.label">
    <div [routerLink]="homeLink.path" [class.activated]="sidebarActiveLink(homeLink)" class="mini-nav-link">
      <i class="material-icons">
        {{homeLink.icon}}
      </i>
    </div>
  </div>
  <div *ngFor="let link of navLinks">
    <div [pTooltip]="link.label">
      <div [routerLink]="link.path" [class.activated]="sidebarActiveLink(link)" (click)="onMiniSidenavLinkClick(link)" class="mini-nav-link">
        <i class="material-icons">
          {{link.icon}}
        </i>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar puller on mobile view -->
<div id="mobile-sidenav-puller">
  <div (click)="showSidebar=true" *ngIf="!showSidebar">
    <i class="material-icons" >arrow_forward</i>
  </div>
  <div (click)="showSidebar=false" *ngIf="showSidebar">
    <i class="material-icons" *ngIf="showSidebar">arrow_backward</i>
  </div>
</div>